<div class="containe">
    <p>
        <h2><%= @service.kind %></h2>
    </p>

    <p>
        <strong>Cost:</strong>
        <%= @service.cost %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= @service.description %>
    </p>

    <p>
        <img src="<%= @service.image %>" alt="<%= @service.kind %>">
    </p>

    <% if user_signed_in? && current_user.email != "admin@das.com" %>
    <p>
        <a href="/requests/new/?service_id=<%=params[:id]%>" class="btn btn-info" style="color:white">Request</a>
    </p>

    <% elsif current_user.blank? %>
    <%= link_to 'Back', services_path, class:"btn btn-default"%>
    <% else %>
    <%= link_to 'Edit', edit_service_path(@service), class:"btn btn-primary", style:"color:white" %>
    <%= link_to 'Back', services_path, class:"btn btn-default"%>
    <% end %>

</div>
