<h1>Request a Service</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("services/laundry.jpg", border: 0, class: "service-button"), "/services/1" %>
      <div class="caption">
        <h3>Laundry</h3>
        <p>...</p>
      </div>
    </div>

    <div class="thumbnail">
      <%= link_to image_tag("services/dry cleaning.jpg", border: 0, class: "service-button"), "/services/2" %>
      <div class="caption">
        <h3>Dry Cleaning</h3>
        <p>...</p>
      </div>
    </div>
    <div class="thumbnail">
      <%= link_to image_tag("services/laundry.jpg", border: 0, class: "service-button"), "/services/3" %>
      <div class="caption">
        <h3>Housekeeping</h3>
        <p>...</p>
      </div>
    </div>

    <div class="thumbnail">
      <%= link_to image_tag("services/laundry.jpg", border: 0, class: "service-button"), "/services/4" %>
      <div class="caption">
        <h3>Mobile Pet Groomin</h3>
        <p>...</p>
      </div>
    </div>

    <div class="thumbnail">
      <%= link_to image_tag("services/laundry.jpg", border: 0, class: "service-button"), "/services/5" %>
      <div class="caption">
        <h3>Groceries</h3>
        <p>...</p>
      </div>
    </div>

    <div class="thumbnail">
      <%= link_to image_tag("services/laundry.jpg", border: 0, class: "service-button"), "/services/6" %>
      <div class="caption">
        <h3>Car Detailing</h3>
        <p>...</p>
      </div>
    </div>

  </div>
</div>
<!-- 
<%= render 'form', request: @request %>
<%= link_to 'Back', requests_path %> -->
