<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user.first_name + " " + @request.user.last_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @request.service.kind %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @request.time %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
