
<!-- <p>
  <strong>User:</strong>
  <%= @request.user.first_name + " " + @request.user.last_name %>
</p> -->

<p>
  <h2>Requested: <%= @request.service.kind %></h2>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date.strftime("%B %d, %Y") %>
  <br>
  <strong>Time:</strong>
  <%= @request.time.strftime("%I:%M %p")%>
</p>

<%= link_to 'Edit', edit_request_path(@request), class:"btn btn-default" %>
<!-- <%= link_to 'Back', requests_path %> -->
