
<p>
  <strong>User:</strong>
  <%= @request.user.first_name + " " + @request.user.last_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @request.service.kind %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @request.time.strftime("%H:%M %p")%>
</p>

<%= link_to 'Edit', edit_request_path(@request), class:"btn btn-default" %>
<!-- <%= link_to 'Back', requests_path %> -->
