<%= form_for(condo) do |f| %>
  <% if condo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(condo.errors.count, "error") %> prohibited this condo from being saved:</h2>

      <ul>
      <% condo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.number_field :postal_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
