<!DOCTYPE html>
<html>
    <head>
        <title>Project3Das</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if notice %>
        <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert"><%= alert %></p>
        <% end %>
        <div class="container">
            <%= yield %>
        </div>
    </body>

    <footer>
        <p>Posted by: DAS</p>
        <p>Contact information:
            <a href="contact@das.com">
                contact@das.com</a>.</p>
    </footer>
</html>
