<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project3Das</title>

        <%= csrf_meta_tags %>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
        <link rel="stylesheet" href="//maxcdn.bootsError: source does not appear to be markup.rapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
        <link href="css/bootstrap.min.css" rel="stylesheet">
      	<link rel="stylesheet" href="css/font-awesome.min.css">
      	<link rel="stylesheet" href="css/animate.css">
      	<link href="css/animate.min.css" rel="stylesheet">
      	<link href="css/style.css" rel="stylesheet" />

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div class="container">
        <% if notice %>
          <!-- show the notice -->
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <!-- show the alert -->
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

        <%= render "partials/navbar" %>
        <%= yield %>
        <%= render "partials/footer" %>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
      <script src="js/wow.min.js"></script>
      <script>wow = new WOW({}).init();</script>

    </body>
</html>
