<!DOCTYPE html>
<html>
    <head>
        <title>Common Places</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Vidaloka">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/style.css">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div class="container">
        <%= render "partials/navbar" %>

        <% if notice %>
          <!-- show the notice -->
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <!-- show the alert -->
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

        <%= yield %>
        <%= render "partials/footer" %>

      <script src="js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/jquery.easing.min.js"></script>
      <script src="/js/jquery.isotope.min.js"></script>
      <script src="/js/functions.js"></script>
    </body>
</html>
