<!DOCTYPE html>
<html>
    <head>
        <title>Project3Das</title>
        <%= csrf_meta_tags %>


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
        <link rel="stylesheet" href="//maxcdn.bootsError: source does not appear to be markup.rapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Vidaloka" rel="stylesheet">
    </head>

    <body>

      <div class="container">
        <% if notice %>
          <!-- show the notice -->
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <!-- show the alert -->
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>


        <%= render "partials/navbar" %>
        <%= yield %>
        <%= render "partials/footer" %>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
    </body>
</html>
